table {
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:hover {background-color: #E0FFFF;}

table th {
  padding-top: 3px;
  padding-bottom: 7px;
  text-align: center;
  background-color: #87CEFA;
  color: white;
}

table td{
  text-align: center;
}

.btn-danger{
  height: 30px;
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}